.stache{
	align-content: center;
}
.Home{
	border: 3px solid black;
	margin-left: 50px;
	margin-right:1300px;
	font-size: 24px;
	background-color: turquoise;
}

.M{
	margin-left:850px;
}

.Products{
	margin-left: 25px;
}

.ContactUs{
	margin-left: 25px;
}

.HIT{
	margin-left: 25px;
}
.WeeklySpecial{
	border: solid black;
	background-color: yellow;
}
#pic{
	margin-top:50px;
}
.DoD{
	background-color:red;
	border: solid black;
	margin-left: 1300px;
}
.picFiller{
	margin-left: 850px;
}
.PV{
	border: 3px solid black;
	background-color: #E68BEC;
	margin-right: 00px;
}